<!-- <p>Forecast: <%= @forecast %></p> -->
<div class="page-wrapper">
  <h1>The weather in GIFs</h1>

  <div class="search">
    <%= form_tag(current_weather_forecasts_path, method: :get) do %>
      <%= text_field_tag :q, nil, placeholder: "Enter a city", class: "search-field" %>
      <%= submit_tag "Go!", class: "search-button" %>
    <% end %>
  </div>

  <% if @forecast.dig('cod').to_i == 404 %>
    <p>Please use a valid city name!</p>
  <% elsif @forecast.dig('cod').to_i == 400 %>
    <p>Please type in a city name!</p>
  <% elsif @forecast == {} %>
  <% else %>
    <p><%= "The current temperature in #{@city.capitalize} is #{@temperature}°C" %></p>
    <%= image_tag(find_gif_url, class: "gif") %>
  <% end %>
</div>















