<!-- <p>Forecast: <%= @forecast %></p> -->
<div class="page-wrapper">
  <h1 class="title">The weather in GIFs</h1>

  <div class="search">
    <%= form_tag(current_weather_forecasts_path, method: :get) do %>
      <%= text_field_tag :q, nil, placeholder: "Enter a city", class: "search-field" %>
      <%= button_tag type: 'submit', class: "search-button" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

  <% if @forecast.dig('cod').to_i == 404 %>
    <p>Please use a valid city name!</p>
  <% elsif @forecast.dig('cod').to_i == 400 %>
    <p>Please type in a city name!</p>
  <% elsif @forecast == {} %>
  <% else %>
    <p class="weather-description"><%= "#{@city.capitalize}: #{@description}" %></p>
    <div class="gif-container"><%= image_tag(find_gif_url, class: "gif") %>
      <span class="temperature weather-attribute"><%= "#{@temperature}°C" %></span>
      <span class="city weather-attribute"><%= @city.capitalize %></span>
      <span class="wind weather-attribute"><%= "wind:#{(@wind * 3.6).to_i}km/h" %></span> <!-- converts to km/hr -->
      <span class="humidity weather-attribute"><%= "humidity:#{@wind}%" %></span>
    </div>
  <% end %>
</div>















